.collection-pokemon-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collection-pokemon-card-list-view {
  background-color: #cecece;
  border: 2px solid white;
  border-radius: 35px;
  position: relative;
  margin: 10px;
  box-shadow: 3px 3px 3px #666;
}

.collection-pokemon-card-list-view:hover .overlay {
  opacity: 1;
}

.collection-pokemon-card-list-view:hover .collection-pokemon-name-and-image {
  opacity: 0.3;
}

.icon {
  color: rgb(134, 134, 134);
  font-size: 100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.icon:hover {
  color: white;
}

.remove-collection-icon {
  left: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.overlay-touch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
}

.collection-pokemon-card-name-text {
  background-color: #ffffff;
  position: absolute;
  padding: 5px;
  border-radius: 33px 5px 33px 5px;
  border: 3px solid black;
  top: 0px;
  padding: 10px;
  cursor: default;
}

.collection-pokemon-list-card-image-wrapper {
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.collection-pokemon-card-add-button {
  position: absolute;
  right: 2px;
  cursor: pointer;
}

.collection-pokemon-card-add-button:hover {
  transform: scale(1.1);
}

.collection-pokemon-list-screen-header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
  font-family: monospace;
  text-transform: capitalize;
}
