.pokemon-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card-list-view {
  background-color: #cecece;
  border: 2px solid white;
  border-radius: 35px;
  position: relative;
  margin: 10px;
  box-shadow: 3px 3px 3px #666;
}

.pokemon-card-list-view:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 35px;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}

.overlay-touch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 35px;
}

.pokemon-card-list-view:hover .pokemon-name-and-image {
  opacity: 0.3;
}

.icon {
  color: rgb(134, 134, 134);
  font-size: 100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.icon:hover {
  color: white;
}

.detail-icon {
  left: 37%;
}

.centered-detail-icon {
  left: 50%;
}

.add-collection-icon {
  left: 63%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.pokemon-card-name-text {
  background-color: #ffffff;
  position: absolute;
  padding: 5px;
  border-radius: 33px 5px 33px 5px;
  border: 3px solid black;
  top: 0px;
  padding: 10px;
  cursor: default;
}

.pokemon-list-card-image-wrapper {
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.pokemon-card-add-button {
  position: absolute;
  right: 2px;
  cursor: pointer;
}

.pokemon-card-add-button:hover {
  transform: scale(1.1);
}

.pokemon-list-screen-header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
  font-family: monospace;
  text-transform: capitalize;
}

.pokemon-list-pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination > li {
  display: inline-block;
  padding-left: 0;
}
.pagination > li {
  list-style: none;
  padding: 3px;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 12px 20px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #2c689c;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-left: -1px;
}
.pagination > li > a:focus {
  outline: none;
}

.pagination > li.active > a {
  color: #fff;
  background-color: rgb(88, 106, 206);
  outline: none;
}

/* Style the active class (and buttons on mouse-over) */
.pagination > li > a:hover {
  background-color: rgb(88, 106, 206);
  color: white;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  padding: 0px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: none !important;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  margin-right: 0;
  padding: 0px !important;
  border-top-right-radius: 4px;
  display: none !important;
}

/* @media screen and (min-width: 768px) {
  .pokemon-card-list-view {
    flex-basis: calc(100% / 3);
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .pokemon-card-list-view {
      flex-basis: calc(100% / 2);
    }
  }
  
@media screen and (max-width: 500px) {
    .pokemon-card-list-view {
      flex-basis: calc(100%);
    }
}; */
