.top-five-moves-wrapper{
    width: 100%;
    background-color: #52bce6;
    border: 2px solid #1b86b1;
    border-radius: 23px;
    color:white;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.top-five-moves-wrapper li {
    list-style-type: none;
    margin-left: -35px
}

.top-five-moves-title{
    text-align: center;
    background-color: #1b86b1;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

.top-five-moves-list{
    margin-top: 20px; 
}